body {
    background-color: #efebdc;
    font-size: 1.0em;
    font-family: "Helvetica", "Arial", sans-serif;
}

#food {
    background-color: #f6f6f6;
    width: 85%;
    margin: 2%
}

img  {
    width: 320px;
    height: 320px;     
}

#comics {
    background-color: #f6f6f6;
    width: 85%;
    margin: 2%
}

#art {
    background-color: #f6f6f6;
    width: 85%;
    margin: 2%
}
