body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #05386b;
  }
  
  canvas {
    background-color: #05386b;
    border: 1px solid lightgray;
  }
  
  #input-container {
    margin-left: 20px;
  }
  