body {
    margin: auto;
    width: 1280px;
    height: 700px;
    background-color: blanchedalmond;
}

.gameContainer {
    position: absolute;
    background-color: rgb(235, 188, 141);
    left: 50%;
    transform: translate(-50%, 50%);
    bottom: 42%;
    display: grid;
    grid-template-columns: repeat(8, auto);
    margin: 50px auto;
    justify-content: space-between;
    border: 9px solid rgb(9, 99, 1);
    border-radius: 30px;
}
.field {
    width: 90px;
    height: 90px;
    border: 4px solid rgb(68, 50, 28);
    cursor: pointer;
    line-height: 200px;
}

.vegetableButtons {
    width: 400px;
    display: flex;
    flex-flow: row wrap ;
    justify-content: space-around;
    top: 10px;
}

.tomatoBtn {
    width: 70px;
    height: 70px;
    background-image: url(icons/tomato.png);
    background-size: contain;
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(211, 190, 163);
    color: rgb(60, 10, 3);
}

.potatoBtn {
    width: 70px;
    height: 70px;
    background-image: url(icons/potato.png);
    background-size: contain;
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(211, 190, 163);
    color: rgb(60, 10, 3);
}

.lettuceBtn {
    width: 70px;
    height: 70px;
    background-image: url(icons/lettuce.png);
    background-size: contain;
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(211, 190, 163);
    color: rgb(60, 10, 3);
}

.carrotsBtn {
    width: 70px;
    height: 70px;
    background-image: url(icons/carrot.png);
    background-size: contain;
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(211, 190, 163);
    color: rgb(60, 10, 3);
}

.cucumberBtn {
    width: 70px;
    height: 70px;
    background-image: url(icons/cucumber.png);
    background-size: contain;
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(211, 190, 163);
    color: rgb(60, 10, 3);
}

.plantActionButtons {
    width: 400px;
    display: flex;
    flex-flow: row wrap ;
    justify-content: space-around;
    top: 10px;
}

.waterPlantBtn {
    width: 80px;
    height: 60px;
    font-size: 20px;
    border-color: blue;
    background-color: rgb(211, 190, 163);
    color: rgb(87, 47, 8);
    cursor: pointer;
}

.fertilizePlantBtn {
    width: 80px;
    height: 60px;
    font-size: 20px;
    border-color: rgb(113, 54, 54);
    background-color: rgb(211, 190, 163);
    color: rgb(87, 47, 8);
    cursor: pointer;
}

.harvestPlantBtn {
    width: 80px;
    height: 60px;
    font-size: 20px;
    border-color: darkgreen;
    background-color: rgb(211, 190, 163);
    color: rgb(87, 47, 8);
    cursor: pointer;
}

.healPlantBtn {
    width: 80px;
    height: 60px;
    font-size: 20px;
    border-color: darkorchid;
    background-color: rgb(211, 190, 163);
    color: rgb(87, 47, 8);
    cursor: pointer;
}

.walletContainer {
    position: fixed;
    top: 20px;
    right: 70px;
    font-size: 30px;
    width: 300px;
    height: 50px;
    color: rgb(87, 47, 8);
    text-align: center;

}

.textContainer {
    position: fixed;
    bottom: 10px;
    width: 80%;
    height: 70px;
    right: 150px;
    font-size: 20px;
    background-color: rgb(211, 190, 163);
    color: rgb(87, 47, 8);
    border: 4px solid rgb(87, 47, 8);
    text-align: center;

}
