body {
  background-color: lightgray;
}

.headline {
  text-align: center;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
}

canvas {
  background-color: black;
  border: 2px solid lightgray;
  margin: 0 auto;
  display: block;
}

#input-container {
  text-align: center;
  margin-top: 20px;
}

label, input, select, button {
  display: block;
  margin-bottom: 10px;
}
