body {
  background-color: rgb(126, 126, 126);
}

table {
  float: left;
  margin: 0 10px 0 0;
}

canvas {
  background-color: black;
  border: 2px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

#input-container {
  float: right;
  text-align: right;
}