header {
    background-color: grey;
    width: 75%;
    height: 10%;
}

main{
	background-color: #3b3b3b;
	width: 75%;

}

.cards{
	height: 8rem;
	width: 5rem;
	border: 4px solid black;
	border-radius: 10px;
	text-align: center;
	float: left;
	margin: 8px;
}
#playerHand .cards{
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
}

#npcHand .cards{
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1em;
}

#playedPile .cards{
    height: 150px;
    width: 80px;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    position: fixed;
}

.cards.flipped{
	height: 8rem;
	width: 5rem;
	border: 4px solid black;
	border-radius: 10px;
	background-color: aliceblue;
	text-align: center;
	float: left;
	margin: 8px;
}

#drawPile .cards{
    height: 150px;
    width: 80px;
    border-color: black;
    border-width: 5px;
	border-radius: 10px;
	background-color: aliceblue;
}
.cardsValue{
    color: white;
    margin-left:30%;
    padding: 10%;
    font-size: 2.5em;
}
.blue{
	background-color: blue;

}
.darkslateblue{
	background-color: darkslateblue;

}
.green{
	background-color: green;

}
.orange{
	background-color: orange;

}
#npcHand{
	height: 160px;
	width: 98%;
	border: 5px solid black;
	border-radius: 15px;
	clear: left;
	margin: 8px;
	background-color: #e6e6e62d;
	float: center;
}
#drawPile{
	height: auto;
	Width: auto;
	margin: 4%;
	background-color: rgb(179, 170, 170); 
	float: left;
	border: 5px solid black;
	border-radius: 15px;
	
}
#playedPile{
	height: 200px;
	width: 200px;
	margin-top: 4%;
	margin-bottom: 4%;
	background-color: #e6e6e62d;
	border: 5px solid black;
	border-radius: 15px;
	float: left;
}
#playerHand{
	height: 160px;
	width: 98%;
	border: 5px solid black;
	border-radius: 15px;
	clear: left;
	margin: 8px;
	background-color: #e6e6e62d;
	float: center;
}
