/*Spielfeld und Allgemeines CSS */
body {
	text-align: center;
	background-color: rgb(51, 51, 51);
}

header {
	width: 100%;
	background-color: grey;
	height: 4em;
	padding-top: 1.8em;
}

p {
	text-align: center;
	}

.handCard {
	height: 160px;
	width: 75%;
	border: 5px solid black;
	border-radius: 15px;
	clear: left;
	margin: 8px;
	background-color: #e6e6e62d;
}

#gameZone  {
	height: 200px;
	width: 200px;
	margin-top: 4%;
	margin-bottom: 4%;
	background-color: #e6e6e62d;
	float: left;
	
}

#deckZone {
	height: 35%;
	Width: auto;
	margin-left: 4%;
	margin-right: 4%;
	background-color: rgb(179, 170, 170); 
	float: left;
	border: 5px solid black;
	border-radius: 15px;
}

/* Gestaltung der Karten */
.card, .cardHidden {
	height: 8rem;
	width: 5rem;
	border: 4px solid black;
	border-radius: 10px;
	background-color: #c2c2c2;
	text-align: center;
	float: left;
	margin: 8px;
}

.cardHidden {
	background-color: rgb(255, 255, 255);
}

.card p {
	font-size: 2.5em;
}

/* Fargebung der Karten */
.purple {
	color: purple;
}
.darkcyan {
	color:darkcyan;
}
.green {
	color: green;
}
.red {
	color: red;
}



